*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.post {
  width: 80%;
  margin: 0 auto;
}
