*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 250ms;
}

h1, h2, h3, h4, h5 {
  box-shadow: 2px 5px 20px;
  background-color: white;
}

button,
input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 5px 20px black;
}

.post {
  margin-bottom: 8rem;
}
