*, *::before, *::after {
  transition: 250ms;
}

.App {
  background-color: rgb(220,220,220);
  min-height: 100vh;
}

.main {
  margin-top: 2em;
}
/* posts as displayed by post index */
.post, .comment {
  max-width: 820px;
  background-color: rgb(240,240,240);
  margin: 2em auto 0;
  padding: 1em;
}

.title, .author {
  text-align: center;
}

.title-input {
  margin: .5em auto;
  background: transparent;
  text-align: center;
  border: none;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  width: 100%;
}

.post .title, .post .author {
  margin: .5em auto;
}

.comments {
  margin: 1em auto;
  max-width: 820px;
  border-left: 2px solid darkgrey;
  padding-left: 2em;
}
