.toolbar-group {
  margin-top: 1em;
}

.editor {
  min-height: 180px;
  margin-top: 1em;
}

.icon {
  height: 15px;
  width: 15px;
}

pre {
  overflow-x: scroll;
  background-color: rgb(220, 220, 220)
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: inside;
}
