/* Navbar container */
.navbar {
  width: 100%;
  height: 3.5em;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
  margin: 0 auto;
}

.home {
  float: left;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

.home:hover {
  background-color: rgba(0, 0, 0, .6);
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.home, .dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  color: white;
  padding: 0 2em;
  line-height: 3.5em;
  background-color: rgba(0,0,0,0);
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropbtn:hover, .mediabtn:hover {
  background-color: rgba(0, 0, 0, .6);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: -1em;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* styles buttons inside the dropdown */
.mediabtn {
  display: block;
 font-size: 1em;
 border: none;
 outline: none;
 color: black;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
 height: 100%;
 width: 100%;
 cursor: pointer;
 padding: 1em;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
